<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="实例"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
      	android:icon="@drawable/icon"
        android:name=".Application"
        android:debuggable="false"
        android:allowBackup="false">
        <activity android:name=".LaunchPad">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
