<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    platformBuildVersionCode="21"
    platformBuildVersionName="6.0-2166767">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />
    <application
        android:theme="@android:style/Theme.Holo.Light.NoActionBar"
        android:label="@string/name"
        android:icon="@drawable/icon"
        android:name=".Application"
        android:debuggable="false"
        android:allowBackup="false">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <meta-data
                android:name="android.accessibilityservice" 
                android:resource="@xml/accessibility"/>
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity android:name=".ErrorActivity" />
        <activity android:name=".ScriptActivity"/>
        <service android:name =".MusicService" />

		<activity  android:name="h.ide.activity.MainActivity" />
        <activity  android:name="h.ide.activity.ProjActivity" />
        <activity  android:name="h.ide.activity.EditActivity" />
            
        <activity  android:name="h.kl.activity.ManageActivity" />

    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
