<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    platformBuildVersionCode="25"
    platformBuildVersionName="6.0-2166767">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />
    <application
        android:theme="@android:style/Theme.Holo.Light.NoActionBar"
        android:label="@string/name"
        android:icon="@drawable/icon"
        android:name=".Application"
        android:debuggable="false"
        android:allowBackup="false">
        <activity
            android:label="@string/name"
            android:name=".StartActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/name"
            android:name=".JSActivity" />
        <activity
            android:label="@string/name"
            android:name=".LuaActivity" />
        <activity
            android:label="@string/name"
            android:name=".BSHActivity" />
        <service
            android:name=".Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <meta-data
                android:name="android.accessibilityservice" 
                android:resource="@xml/accessibility"/>
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service
            android:name=".JSService" />
        <service
            android:name=".LuaService" />
        <service
            android:name=".BSHService" />
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
